@model ReSTCore.Models.DtoModel
@{
    Layout = "Layout.cshtml";
    ViewBag.Title = "DTOs";
}

<h3>DTOs</h3>
DTOs used by this service are:
<ul>
@foreach (var name in @Model.Names)
{
    <li>@name</li>
}
</ul>

<hr/>

<h3>XSD</h3>
An XSD containing DTOs used by this service is below.
<textarea style="width:100%; height:300px;" readonly="readonly">@Model.Xsd</textarea>
