@model ReSTCore.Models.HtmlModel
@{
    Layout = "Layout.cshtml";
    ViewBag.Title = "HTML Model";
}

<!DOCTYPE html>

    <h2>@Model.GetModelName()</h2>
    <table>
        <tr>
            @foreach (var obj in Model.htmlTitles)
            {
                <th>@(obj)</th>
            }
        </tr>
        <tr>
            @foreach (var obj in Model.typeObjects)
            {
                <tr>
                @foreach (var h in obj.htmlObjects)
                {
                    <td>@(h.ObjectValue)</td>   
                }
                </tr>
            }
       </tr>

    </table>
